.image-gallery-image {
  border-radius: 8px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
}

.image-gallery-thumbnail img {
  border-radius: 4px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: 2px solid #3b82f6;
  border-radius: 6px;
}
