name: Build and Push

on:
  push:
    branches: ['main']
    paths:
      - '.github/workflows/ci.yml'
      - 'packages/back-end/**'
  pull_request:
    branches: ['main']
    paths:
      - '.github/workflows/ci.yml'
      - 'packages/back-end/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check Repository
        uses: actions/checkout@v5
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint back-end package
        run: pnpm --filter back-end lint
      - name: Test back-end package
        run: pnpm --filter back-end test
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./packages/back-end/Dockerfile
          push: false
          tags: basic-project/back-end:latest
